body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: linear-gradient(to right,  rgb(254, 129, 150) 70%,rgb(255, 204, 213) 30%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 

}

#root{
  /* background: linear-gradient(to right,  rgb(254, 129, 150) 70%,rgb(255, 204, 213) 30%); */
  
}
.design1{
  background: linear-gradient(to right,  rgb(254, 129, 150) 70%,rgb(255, 204, 213) 30%);
}
.design2{
  background: linear-gradient(to right,  rgb(0, 190, 190) 70%,#7ce3ff 30%);
}
.design3{
  background: linear-gradient(to right,  rgb(143, 9, 150) 70%,#e876ff 30%);
}

.nav{
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  align-items: baseline;
  padding: 20px;
}


.nav li{
  list-style: none;
  padding-right: 20px;
  
}

.nav li button{
  padding: 7px 20px;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  background: #ff4141;
  outline: 0;
  border: 0;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}

.img-box {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
}

.img-box img{
  /* border: #fff solid 2px; */
  aspect-ratio: 3/2;
  object-fit: contain;
  /* margin: 10px;
  border-radius: 75px; */
}
.img-box button{
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
  border: #fff solid 2px;
  margin: 10px;
  border-radius: 75px;
}

.img-box img{
  width: 100px;
}

.content{
  padding-top: 100px;
}

.content h1{
  font-size: 60px;
  font-weight: 600;
}

.content h3{
  font-size: 20px;
}

.content button{
  padding: 10px 30px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  background: hsl(196, 94%, 86%);
}

.main-img{
  padding-top: 60px;
}

.main-img img{
  width: 350px;
  animation: updown  2s infinite alternate
}

@keyframes updown {
  0% {
      transform: translateY(-20px); /* Move the image up */
  }
  50% {
      transform: translateY(20px); /* Move the image down */
  }
  100% {
      transform: translateY(-20px); /* Return to the original position */
  }
}